In [1]:
#Data and history
import pytse_client as tse
import pandas as pd

tickers = tse.download(symbols="خودرو", write_to_csv=True)
tickers["خودرو"]
df = pd.DataFrame.from_dict(tickers["خودرو"])
df["label"] = ''
df.head()

,date,open,high,low,adjClose,value,volume,count,yesterday,close,label
0,2001-03-25,2798.0,2802.0,2798.0,2800.0,310368080,110870,115,2798.0,2800.0,
1,2001-03-26,2801.0,2810.0,2797.0,2798.0,270595190,96613,98,2800.0,2798.0,
2,2001-03-27,2795.0,2800.0,2795.0,2795.0,466405131,166600,120,2798.0,2795.0,
3,2001-03-28,2800.0,2849.0,2796.0,2849.0,227566666,80676,104,2795.0,2849.0,
4,2001-03-31,2840.0,2848.0,2800.0,2838.0,500068371,177362,161,2849.0,2838.0,

In [2]:
#Labeling
###

ts = df[["open"]]
k = 30
max = ts[::-1].rolling(k,1).max().shift(1)[::-1]
min = ts[::-1].rolling(k,1).min().shift(1)[::-1]
ts = pd.concat([ts, max, min], axis = 1) 

#filling the label column
for i, row in ts.iterrows():
    if (ts.iloc[i,0] >= 0.95 * ts.iloc[i,1]):
        df.iloc[i,10] = -1
    elif (ts.iloc[i,0] <= 1.05 * ts.iloc[i,2]):
        df.iloc[i,10] = 1
    else:
        df.iloc[i,10] = 0


df['label'].value_counts()[0]
df.head()

,date,open,high,low,adjClose,value,volume,count,yesterday,close,label
0,2001-03-25,2798.0,2802.0,2798.0,2800.0,310368080,110870,115,2798.0,2800.0,1
1,2001-03-26,2801.0,2810.0,2797.0,2798.0,270595190,96613,98,2800.0,2798.0,1
2,2001-03-27,2795.0,2800.0,2795.0,2795.0,466405131,166600,120,2798.0,2795.0,1
3,2001-03-28,2800.0,2849.0,2796.0,2849.0,227566666,80676,104,2795.0,2849.0,1
4,2001-03-31,2840.0,2848.0,2800.0,2838.0,500068371,177362,161,2849.0,2838.0,1