In [58]:
#Daily Feature
import pandas as pd
import numpy as np
import datetime as datetime
import pytse_client as tse
from pytse_client import download_client_types_records
from pytse_client.download import download_financial_indexes

In [59]:
#Price data
tickers = tse.download(symbols="فولاد", adjust=True, write_to_csv=True)
df = pd.DataFrame.from_dict(tickers["فولاد"])

In [60]:
#Individual data
if __name__ == '__main__':
    records_dict = download_client_types_records("فولاد")
df1 = pd.DataFrame.from_dict(records_dict["فولاد"])

df1['date'] = pd.to_datetime(df1['date'])
df1.iloc[:, 1: 13] =df1.iloc[:, 1: 13].astype('float')

df_feature = pd.merge(df, df1, how = 'left', on = 'date')

In [61]:
#Total index
marketIndex = download_financial_indexes(symbols = 'شاخص كل', write_to_csv = True, include_jdate = True)
marketIndex = marketIndex['شاخص كل']
marketIndex.rename(columns = {'value': 'TEDPIX'}, inplace = True)

df_feature = pd.merge(df_feature, marketIndex, how = 'left', on = 'date')
df_feature

,date,open,high,low,adjClose,value,volume,count,yesterday,close,...,corporate_buy_value,individual_sell_value,corporate_sell_value,individual_buy_mean_price,individual_sell_mean_price,corporate_buy_mean_price,corporate_sell_mean_price,individual_ownership_change,jdate,TEDPIX
0,2007-03-11,16.0,16.0,16.0,16.0,889437216900,468077431,7736,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-03-12,16.0,16.0,16.0,16.0,193879458000,100041000,9214,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-03-13,16.0,16.0,16.0,16.0,249241504527,126270939,5862,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-03-14,16.0,16.0,16.0,16.0,51666379451,26705128,1901,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-03-17,16.0,16.0,16.0,16.0,28239006789,14877283,1514,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3440,2022-10-24,4640.0,4640.0,4416.0,4474.0,1403405133900,313694377,17347,4732.0,4471.0,...,5.932349e+11,9.555248e+11,4.478803e+11,4467.006045,4475.140442,4483.106005,4470.935251,-32150785.0,1401-08-02,1277736.9
3441,2022-10-25,4474.0,4493.0,4378.0,4432.0,574775783609,129681942,8398,4474.0,4388.0,...,2.954381e+11,4.142702e+11,1.605056e+11,4422.724105,4428.821987,4441.189081,4440.928216,-30379957.0,1401-08-03,1267060.7
3442,2022-10-26,4424.0,4444.0,4214.0,4311.0,667857561633,154912131,8843,4432.0,4285.0,...,3.832280e+11,5.673116e+11,1.005460e+11,4276.842296,4307.839805,4337.081762,4330.274465,-65141488.0,1401-08-04,1241067.1
3443,2022-10-29,4370.0,4404.0,4319.0,4361.0,758034735976,173822689,6457,4311.0,4342.0,...,5.366198e+11,5.456945e+11,2.123402e+11,4354.541273,4366.045645,4363.621618,4347.963789,-74139074.0,1401-08-07,1244627.3
3444,2022-10-30,4394.0,4550.0,4365.0,4487.0,857329089916,191063150,6832,4361.0,4550.0,...,6.307546e+11,4.762183e+11,3.811108e+11,4493.122103,4481.529471,4485.009167,4494.193897,-55835476.0,1401-08-08,1254464.8

In [62]:
#Alireza columns
df_feature['pct_change'] = df_feature['adjClose'].pct_change() * 100
df_feature['Enter_individual_money'] =df_feature['individual_buy_value'] -df_feature['individual_sell_value']
df_feature['Individual_buy_per_capita'] =df_feature['individual_buy_value'] /df_feature['individual_buy_count']
df_feature['Individual_sell_per_capita'] =df_feature['individual_sell_value'] /df_feature['individual_sell_count']
df_feature['Individual_buy_power_to_Individual_sell'] =df_feature['Individual_buy_per_capita'] /df_feature['Individual_sell_per_capita']

df_feature

,date,open,high,low,adjClose,value,volume,count,yesterday,close,...,corporate_buy_mean_price,corporate_sell_mean_price,individual_ownership_change,jdate,TEDPIX,pct_change,Enter_individual_money,Individual_buy_per_capita,Individual_sell_per_capita,Individual_buy_power_to_Individual_sell
0,2007-03-11,16.0,16.0,16.0,16.0,889437216900,468077431,7736,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-03-12,16.0,16.0,16.0,16.0,193879458000,100041000,9214,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
2,2007-03-13,16.0,16.0,16.0,16.0,249241504527,126270939,5862,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
3,2007-03-14,16.0,16.0,16.0,16.0,51666379451,26705128,1901,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
4,2007-03-17,16.0,16.0,16.0,16.0,28239006789,14877283,1514,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3440,2022-10-24,4640.0,4640.0,4416.0,4474.0,1403405133900,313694377,17347,4732.0,4471.0,...,4483.106005,4470.935251,-32150785.0,1401-08-02,1277736.9,-5.452240,-1.453546e+11,1.223822e+08,2.699223e+08,0.453398
3441,2022-10-25,4474.0,4493.0,4378.0,4432.0,574775783609,129681942,8398,4474.0,4388.0,...,4441.189081,4440.928216,-30379957.0,1401-08-03,1267060.7,-0.938757,-1.349326e+11,1.001210e+08,1.502067e+08,0.666555
3442,2022-10-26,4424.0,4444.0,4214.0,4311.0,667857561633,154912131,8843,4432.0,4285.0,...,4337.081762,4330.274465,-65141488.0,1401-08-04,1241067.1,-2.730144,-2.826820e+11,9.818197e+07,2.403863e+08,0.408434
3443,2022-10-29,4370.0,4404.0,4319.0,4361.0,758034735976,173822689,6457,4311.0,4342.0,...,4363.621618,4347.963789,-74139074.0,1401-08-07,1244627.3,1.159824,-3.242795e+11,1.351740e+08,2.156895e+08,0.626706
3444,2022-10-30,4394.0,4550.0,4365.0,4487.0,857329089916,191063150,6832,4361.0,4550.0,...,4485.009167,4494.193897,-55835476.0,1401-08-08,1254464.8,2.889246,-2.496437e+11,1.371516e+08,1.972735e+08,0.695236

In [63]:
import daily_features as fe
x = fe.candlestick_feature(df_feature)
y = fe.weight_feature(df_feature)
k = fe.proportion_feature(df_feature)
w = fe.logarithmic_feature(df_feature)
z = fe.shift_data(df_feature)

In [64]:
df_feature = pd.concat([df_feature, x, y, k, w, z], axis=1)

df_feature

,date,open,high,low,adjClose,value,volume,count,yesterday,close,...,last1d_corporate_buy_mean_price,last1d_corporate_sell_mean_price,last1d_individual_ownership_change,last1d_jdate,last1d_TEDPIX,last1d_pct_change,last1d_Enter_individual_money,last1d_Individual_buy_per_capita,last1d_Individual_sell_per_capita,last1d_Individual_buy_power_to_Individual_sell
0,2007-03-11,16.0,16.0,16.0,16.0,889437216900,468077431,7736,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-03-12,16.0,16.0,16.0,16.0,193879458000,100041000,9214,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-03-13,16.0,16.0,16.0,16.0,249241504527,126270939,5862,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
3,2007-03-14,16.0,16.0,16.0,16.0,51666379451,26705128,1901,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
4,2007-03-17,16.0,16.0,16.0,16.0,28239006789,14877283,1514,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3440,2022-10-24,4640.0,4640.0,4416.0,4474.0,1403405133900,313694377,17347,4732.0,4471.0,...,4738.785957,4720.635672,-15499300.0,1401-08-01,1296797.8,-3.112203,-7.363018e+10,8.819841e+07,2.909851e+08,0.303103
3441,2022-10-25,4474.0,4493.0,4378.0,4432.0,574775783609,129681942,8398,4474.0,4388.0,...,4483.106005,4470.935251,-32150785.0,1401-08-02,1277736.9,-5.452240,-1.453546e+11,1.223822e+08,2.699223e+08,0.453398
3442,2022-10-26,4424.0,4444.0,4214.0,4311.0,667857561633,154912131,8843,4432.0,4285.0,...,4441.189081,4440.928216,-30379957.0,1401-08-03,1267060.7,-0.938757,-1.349326e+11,1.001210e+08,1.502067e+08,0.666555
3443,2022-10-29,4370.0,4404.0,4319.0,4361.0,758034735976,173822689,6457,4311.0,4342.0,...,4337.081762,4330.274465,-65141488.0,1401-08-04,1241067.1,-2.730144,-2.826820e+11,9.818197e+07,2.403863e+08,0.408434
3444,2022-10-30,4394.0,4550.0,4365.0,4487.0,857329089916,191063150,6832,4361.0,4550.0,...,4363.621618,4347.963789,-74139074.0,1401-08-07,1244627.3,1.159824,-3.242795e+11,1.351740e+08,2.156895e+08,0.626706

In [65]:
import indicator_features as fe

a = fe.BB(df_feature)
b = fe.EMA(df_feature)
c = fe.MACD(df_feature)
d = fe.RSI(df_feature)
e = fe.SMA(df_feature)
f = fe.STOCHASTIC(df_feature)

In [67]:
df_feature = pd.concat([df_feature, a, b, c, d, e, f], axis=1)

df_feature

,date,open,high,low,adjClose,value,volume,count,yesterday,close,...,RSI_position,SMA10d,SMA20d,last_SMA20d,SMA30d,SMA50d,last_SMA50d,SMA80d,SMA_buy,SMA_position
0,2007-03-11,16.0,16.0,16.0,16.0,889437216900,468077431,7736,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-03-12,16.0,16.0,16.0,16.0,193879458000,100041000,9214,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-03-13,16.0,16.0,16.0,16.0,249241504527,126270939,5862,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-03-14,16.0,16.0,16.0,16.0,51666379451,26705128,1901,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-03-17,16.0,16.0,16.0,16.0,28239006789,14877283,1514,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3440,2022-10-24,4640.0,4640.0,4416.0,4474.0,1403405133900,313694377,17347,4732.0,4471.0,...,0.0,4898.7,4915.85,4943.15,4973.233333,5126.34,5141.66,5169.1375,NaN,0.0
3441,2022-10-25,4474.0,4493.0,4378.0,4432.0,574775783609,129681942,8398,4474.0,4388.0,...,0.0,4844.0,4891.95,4915.85,4952.300000,5105.78,5126.34,5155.2250,NaN,0.0
3442,2022-10-26,4424.0,4444.0,4214.0,4311.0,667857561633,154912131,8843,4432.0,4285.0,...,0.0,4769.3,4860.00,4891.95,4928.333333,5081.60,5105.78,5139.8000,NaN,0.0
3443,2022-10-29,4370.0,4404.0,4319.0,4361.0,758034735976,173822689,6457,4311.0,4342.0,...,0.0,4702.4,4826.05,4860.00,4906.033333,5053.22,5081.60,5125.6500,NaN,0.0
3444,2022-10-30,4394.0,4550.0,4365.0,4487.0,857329089916,191063150,6832,4361.0,4550.0,...,0.0,4652.1,4803.90,4826.05,4885.600000,5028.16,5053.22,5113.6625,NaN,0.0