In [4]:
#Daily Feature
import pandas as pd
import numpy as np
import datetime as datetime
import pytse_client as tse
from pytse_client import download_client_types_records

In [5]:
#Price data
tickers = tse.download(symbols="فولاد", adjust=True, write_to_csv=True)
df = pd.DataFrame.from_dict(tickers["فولاد"])

#Individual data
if __name__ == '__main__':
    records_dict = download_client_types_records("فولاد")
df1 = pd.DataFrame.from_dict(records_dict["فولاد"])
#Rearrange from past to present with reindex
df1 = df1.iloc[::-1]
df1.index = np.arange(len(df1))

#Concat and align two recieved dataset in the initiate date
df.drop(df.index[0:348], inplace=True)
df_feature = pd.concat([df, df1], axis=1)

In [11]:
import daily_features as fe
x = fe.candlestick_feature(df_feature)
y = fe.weight_feature(df_feature)

,date,open,high,low,adjClose,value,volume,count,yesterday,close,...,corporate_sell_vol,individual_buy_value,corporate_buy_value,individual_sell_value,corporate_sell_value,individual_buy_mean_price,individual_sell_mean_price,corporate_buy_mean_price,corporate_sell_mean_price,individual_ownership_change
348,2008-11-26,19.0,20.0,19.0,20.0,2.957814e+08,126348.0,20.0,20.0,20.0,...,904371,5470602315,9865605849,12679023677,2657184487,2931.016879,2929.823854,2931.401644,2938.157556,-2461120.0
349,2008-11-29,19.0,26.0,19.0,20.0,1.226932e+11,38410161.0,295.0,20.0,20.0,...,9966923,6944678974,42530488332,21202124354,28273042952,2825.030387,2819.143892,2829.815112,2836.687205,-5062500.0
350,2008-11-30,19.0,20.0,19.0,20.0,2.339241e+08,100010.0,15.0,20.0,20.0,...,3009747,3599102243,11147588883,6308199656,8438491470,2804.611810,2798.249267,2800.335330,2803.721200,-971058.0
351,2008-12-01,19.0,20.0,19.0,20.0,3.008452e+08,128676.0,13.0,20.0,20.0,...,2401546,8006622135,5850390374,7157417091,6699595418,2791.984751,2787.095410,2783.401744,2789.701058,299661.0
352,2008-12-02,19.0,19.0,19.0,19.0,6.672836e+07,28553.0,9.0,20.0,19.0,...,632560,6319917389,1574583630,6134188759,1760312260,2775.377421,2767.526266,2753.201780,2782.838403,60650.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15917621,34745931513,25881238194,13643521178,46983648529,2950.076360,2948.569001,2952.183889,2951.675287,7150810.0
344,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25129500,16206205886,95170394630,35240505754,76136094762,3035.562966,3034.131488,3030.381981,3029.749687,-6275912.0
345,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14097571,33797515862,47422965544,37345081062,43875400344,3110.858898,3127.168775,3125.001642,3112.266669,-1077770.0
346,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9823232,8360258224,64518499533,43396769729,29481988028,3004.484746,3005.776072,3003.873958,3001.251322,-11655199.0
347,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2523192,5771342211,19286149611,17535753130,7521738692,2969.362590,2971.483646,2975.840671,2981.040956,-3957716.0